.animated-text {
    font-size: 2rem; 
    font-weight: bold; 
    color: transparent; 
    background: linear-gradient(to right, yellow, green);
    background-clip: text; 
    -webkit-background-clip: text; 
    animation: colorSlide 3s infinite; 
  }
  
  @keyframes colorSlide {
    0% {
      background-position: 0% 0%;
    }
    50% {
      background-position: 100% 0%;
    }
    100% {
      background-position: 0% 0%;
    }
  }

  .notification {
    background-color: #4caf50; 
    color: white;
    padding: 10px;
    border-radius: 5px;
    position: fixed;
    top: 60px; 
    left: 0;
    width: 100%; 
    text-align: center; 
    z-index: 1000; 
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
  }
  
  .notification.show {
    opacity: 1;
    transform: translateY(0);
  }
  
  .notification.fade-out {
    opacity: 0;
    transform: translateY(-20px);
  }
  